* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 14px;
  font-weight: 400px;
  font-family: 'Roboto';
  font-style: normal;
}

img {
  max-width: 100%;
}

a {
  color: $Black;
}